body{
background-color: #f1faee;


}
button{

    font-size: 30px;
}

h1,h2{

    color: #1d3557;
}
#signup{

    background-color: #1d3557;
}

.tag{
    background-color: rebeccapurple;
    color: #f1faee;


}

.post a{

color: #457b9d;    
}

footer a{
color:#e63946;

}
input + button{
background-color: pink;

}

footer> a {
color:#a8dadc;

}
a[href*="google"]{

color: magenta;

}

.post button:hover {
background-color: #e63946;
color: #f1faee;
}

.post button:hover{
 background-color: #e63946;
color:#f1faee;
}

.post a:hover{
text-decoration: underline;

}

.post button:active {
background-color: #02c39a;

}

.post:nth-of-type(2n) {

    background-color: #023047;
}

.post button:hover{
background-color: #e63946;
color:#f1faee;

}
button:hover{
background-color: olive;
font-size: 10px;

}